
.post-secao{
  display:flex;
  justify-content:space-between;
  top: 237px;
  bottom: 382,94px;
  left:156px;
  right:996px;
}
.post-secao div{
  margin:2px;
  flex-basis:100%;
}
.post-secao img{
  
  max-width: 288px;
  max-height:300px;
  border:1px;
  left: 156px;
  top: 1132px;
  border-radius: 1px;
  justify-content: space-around;
  align-content:center;
  flex-basis: 100%;
  display:flex;
  flex-wrap:wrap;

}
