
body {
	  font-family: 'Montserrat', sans-serif;
}

.titulo-principal {	
  
  width: 855px;
  height: 46px;
  margin: 150px 150px 25px 200px;
  text-align: center;
	clear: left;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height:57px;
  align-items: center;
  display: flex;
  fill:solid;
  display:flex;
  
  
}

h1 { color:#FF4081;
    fill:solid;
}
.data {
  
  width: 200px;
  height: 21px;
  margin-left: 450px;
  margin-bottom: 50px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;  
  display: flex;
  align-items: center;
  color: #9D9D9D;
}
.caixa{

width: 1032px;
height: 465px;
margin-left: 104px;
margin-top: 100px;
background: #C4C4C4;
}
.texto{
  
  width: 1032px;
  height: 1061px;
  margin: 100px 100px 25px 100px;
  left: 204px;
  top: 910px; 
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
  font-feature-settings: 'kern' off;
  padding: 10px 0px 80px 0px;
  
}

.corpo-texto{
Font-family:Ubuntu;
Font-style:Mixed;
Font-size:mixed;
Line-height:100%;
text-align: Left;
Vertical-align: Top;

}

.sub-titulo{
font-family: 'Montserrat', sans-serif;
margin: 3em 0 1em 0;
font-size: 26px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
font-size: 18px;
font-weight: bold;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
Color: #419488;
fill:solid;

}

h4 { color:#FF4081;
    fill:solid;
}
.titulo-footer{
  
  width: 528px;
  height: 57px;
  margin-left: 456px;
  margin-top: 0px;
  margin-bottom: 100px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 57px;
  display: flex;
  align-items: center;
  
}

.principal .texto{
font-family: Ubuntu ;
font-size: 26px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
font-family: Ubuntu;
font-size: 18px;
font-weight: 300;
line-height: 21px;
letter-spacing: 0em;
text-align: left;


} 

.flex {
  width: 100vw;
  height: 100vh;
  display:flex;
  flex-direction: row;
  align-items:center;
  flex-wrap: wrap;
}

.bottom-title{
  
  display:flex;
  width: 344px;
  height: 35.71px;
  left: 128px;
  top: 1197.1599999999999px;  
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  text-align: center; 
  color: #FF4081;  
  align-items:center;
  fill:solid;
} 
.bottom-content{
  
  display:flex;
  width: 293px;
  height: 73.89px;
  left: 154px;
  top: 1212.1999999999998px;  
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  text-align: center;  
  color: #000000;
  align-items:center;
  fill:solid;
}
.img{
  
  left: 156px;
  top: 2319px;
  bottom: 276,06px;
  border-radius: 1px;
  background: #000000;
  border: 1px solid #000000;
}

.left-button{
  
  width: 233px;
  height: 62.81px;
  left: 184px;
  top: 1265px;
  background: #FF4081;
  border:none;
  border-radius: 62px;
  align-items:center;
  Font-family: Ubuntu;
  Font-size: 20px;
  Line-height: 23px;
  Line-height: 100%;
  Vertical-align: Top;
  color: #FFFFFF;
  fill:solid;
}
.center-button{
  
  width: 233px;
  height: 62.81px;
  left: 623px;
  top: 2082px;
  background: #FF4081;
  border:none;
  color:#FFFFFF;
  border-radius: 62px;
  align-items:center;
}
.right-button{
  
  width: 233px;
  height: 62.81px;
  left: 1043px;
  top: 2082px;
  background: #FF4081;
  border:none;
  border-radius: 62px;
  align-items:center;  
  color: #FFFFFF;
}

post-secao .div{
  width: 528px;
  height: 57px;
  left: 456px;
  top: 2161px;
  display:flex;
   
}
/*
.img-box{

width: 1440px;
height: 899px;
left: 0px;
top: 2082px;

background: solid #f6f6f6;

}*/
footer {
  
  margin-top: 200px;
}

@media only screen and (max-width: 400px) {
 .main-content h1{
    margin: 1em 2em;
    font-size:15px;
    
  }
  .caixa{
    max-width: 70%;
  }
  .texto{
    max-width: 70%;
    font-size:15px
  }
  .corpo-texto p{
    max-width: 70%;
    font-size:15px;
  }
  .data{
    max-width: 70%;
    font-size:15px;
  }
  .sub-titulo{
    max-width: 70%;
    font-size:15px
  }
  .titulo-footer h1{
    max-width: 30%;
    font-size:15px;
    margin: 1em 2em;
  }
  .principal .texto{
    max-width: 60%;
    font-size:10px
  }
  .flex {
    max-width: 70%;
  }
  .bottom-title{
    max-width: 70%;
    font-size:15px
  }
  .bottom-content{
    max-width: 70%;
    font-size:15px
  }
  .titulo-footer h1{
    max-width: 50%;
    font-size:15px;
    margin: 1em 1em 1em 1em;
  }
  .post-secao .img{
    max-width: 40%;
    font-size:15px;
     
  }
  .left-button{
    max-width: 40%;
    font-size:15px
  }
  post-secao .div{
    max-width: 70%;
  }
  .img-post{
    max-width: 50%;
    
  }
  @media only screen and (min-width:481px) and (max-width:720px){

  }
  @media only screen and (min-width:721px) and (max-width:1024px){
    
  }
}
